doctype html
html
  head
    meta(charset='UTF-8')
    title Novel Object Study
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    //- Header
    if isExample
        h1 Example Object
    else
        h1 Object #{id} / 30
    
    img(src='images/objects/#{id}.PNG' alt='Image' style='width: 200px; height: 200px;')
    form(action="/log/describe/#{id}", method="post")
      p Have you seen this object before?
      label
        input(type='radio' name='seen' value='yes' disabled=isExample) 
        | Yes
      label
        input(type='radio' name='seen' value='no' checked=isExample disabled=isExample)
        | No
      p If yes, what is it? If no, please provide a description of this object in a short sentence.
      input(type='text' name='description' placeholder="Describe this object in a short sentence." disabled=isExample)
      input(type="hidden" name="id" value='#{id}')
      br
      button →
    script. 
      if (#{isExample}) {
        const id = 0;
      }
      else {
        const id = #{id};
      }
    script(src='javascripts/describe.js')